[project]
	description = A library for recognizing and learning complex shapes in 
[access "refs/*"]
	owner = group user/Sebastian Krieger (Seppone)
[access "refs/for/refs/*"]
	read = group user/Sebastian Krieger (Seppone)
	push = group user/Sebastian Krieger (Seppone)
	label-Code-Review = -2..+2 group user/Sebastian Krieger (Seppone)
	label-Verified = -1..+1 group user/Sebastian Krieger (Seppone)
	rebase = group user/Sebastian Krieger (Seppone)
	removeReviewer = group user/Sebastian Krieger (Seppone)
	submit = group user/Sebastian Krieger (Seppone)
[access "refs/heads/*"]
	read = group user/Sebastian Krieger (Seppone)
	create = group user/Sebastian Krieger (Seppone)
	push = +force group user/Sebastian Krieger (Seppone)
	pushMerge = group user/Sebastian Krieger (Seppone)
[access "refs/tags/*"]
	push = +force group user/Sebastian Krieger (Seppone)
	pushTag = group user/Sebastian Krieger (Seppone)
	pushSignedTag = group user/Sebastian Krieger (Seppone)
